body {
    font-family: sans-serif;
    margin: 20px;
    background: #fafafa;
  }
  
  #dashboard {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
  }
  
  #map, #bar, #scatter, #table {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }
  
  svg {
    width: 100%;
    height: 100%;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  }
  
  table th {
    cursor: pointer;
    background: #eee;
  }
  
  table th, table td {
    padding: 6px;
    border-bottom: 1px solid #ddd;
  }
h1 {
    text-align:center;
}  